body{
    margin: 0;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#main-container
{
    margin-top: 0;
    width: 50%;
    background:white;
    color:gray;
}
#main-container h1
{
    text-align: center;
}

#form-container
{
    margin-bottom: 1rem;
    line-height: 1px;
}

#description
{
    margin: 0 1rem;
}
#description input
{
    border: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 95%;
    margin-top: -8px;
    margin-bottom: 1rem;
    color: grey;
}



/* category */
#date-category-container
{
    display: flex;
    min-width: 100%;
}
#date-category-container div
{
    border: 1px solid black;
    border-left: none !important;
    width: 50%;
    padding: 0 1rem 1rem;
}
#category select
{
    width: 70%;
    font-size: 1rem;
    color: grey;
    border: none;
}
#due-date
{
    border-right: none !important;
}
#due-date input
{
    border: none;
    font-size: 1rem;
    color: grey;
}
/* button conainer */
#btn-container
{
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.btn
{
    width: 25%;
    font-size: 1.2rem;
    padding: 1rem 0.1rem;
    margin: 0 2px;
    border: none;
}
#addTask
{
   background-color: rgb(32, 31, 31);
   color: white;
}
#deleteTask
{
    background-color: red;
}
#deleteTask > a
{
    text-decoration: none;
    color: white;
}
.btn:hover
{
    cursor: pointer;
}


/* task list */

#task-container
{
    display: flex;
    width: 100%;
    align-items: center;
}
#task-container > div
{
    padding: 0 1rem 1rem;
}
#checkbox-btn > input.check-box
{
    width: 1.2rem;
    height: 1.8rem;
}
#content
{
    width: 90%;
    line-height: 0.1;

}
#content > #description-para
{
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: -5px;
}
#content > #date-para
{
    color: rgb(168, 165, 165);
}
#category-btn
{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#category-btn > button
{
    width: 90%;
    font-size: 1rem;
    padding: 0.5rem 0.1rem;
    margin: 0 2px;
    border: none;
    color: white;
    border-radius: 2px;
    text-transform: uppercase;
}


/* commone style */
.no-outline:focus
{
    outline: none;
}
.bg-green
{
    background-color: green;
}
.bg-orange
{
    background-color: orange;
}
.bg-royalblue
{
    background-color: royalblue;
}
.bg-purple
{
    background-color: purple;
}
.bg-red
{
    background-color: red;
}

/* media query */


@media screen  {
    
}